<ion-content [ngStyle]="{'display': 'flex', 'justify-content': 'center', 'align-items': 'center', 'height': '100vh'}">
  <div *ngIf="isLoading" class="spinner-container">
    <svg class="spinner" viewBox="0 0 50 50">
      <circle class="path" cx="25" cy="25" r="20" fill="none" stroke="url(#spinnerGradient)" stroke-width="5"></circle>
      <defs>
        <linearGradient id="spinnerGradient" x1="0%" y1="0%" x2="100%" y2="0%">
          <stop offset="0%" style="stop-color:#ff8a00; stop-opacity:1" />
          <stop offset="100%" style="stop-color:#f6ff00; stop-opacity:1" />
        </linearGradient>
      </defs>
    </svg>
  </div>
  <div class="title-container">
    <img src="../../../../assets/icon/icon2.png" alt="" width="100px"> <br>
    <h1>Iniciar sesión</h1>
  </div>
  <div class="wrapper center-absolutely">
    <div class="login-container">
      <div *ngIf="errMsg" class="err-msg-top"> {{errMsg}} </div>
      <div class="input-box">
        <input type="text" placeholder="Correo Electrónico" [(ngModel)]="email" [ngClass]="{'input-error': errorStates.email}">
      </div>
      <div *ngIf="errMsgemail" class="err-msg" style="margin-bottom: -10px;">{{errMsgemail}}</div>
      <div class="input-box">
        <input [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña" [(ngModel)]="password" [ngClass]="{'input-error': errorStates.password}">
        <i [class]="showPassword ? 'bx bx-show' : 'bx bx-hide'" 
        (click)="togglePasswordVisibility()" 
        [ngClass]="{'icon-error': errorStates.password}" 
        style="cursor: pointer; font-size: 24px;"></i>
      </div>
      <div *ngIf="errMsgPassword" class="err-msg"> {{errMsgPassword}} </div>
      <button style="margin-bottom: 20px; border-radius: 0px;" type="submit" class="btn" (click)="login()" >Iniciar sesión</button>
      <button type="submit" class="btn" (click)="registrar()" style="border-radius: 0px;">Crear cuenta</button>
    </div>
    <div class="box-users">
      <button (click)="autoFillUser('user1')">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
          <defs>
            <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="0%">
              <stop offset="0%" style="stop-color:#ff8a00; stop-opacity:1" />
              <stop offset="100%" style="stop-color:#f6ff00; stop-opacity:1" />
            </linearGradient>
          </defs>
          <circle cx="12" cy="12" r="10" fill="url(#grad1)"/>
          <circle cx="12" cy="10" r="3" fill="#fff"/>
          <path d="M12 13c-4 0-6 2-6 2v2h12v-2s-2-2-6-2z" fill="#fff"/>
        </svg>
        <span>Usuario 1</span>
      </button>
      <button (click)="autoFillUser('user2')">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
          <defs>
            <linearGradient id="grad2" x1="0%" y1="0%" x2="100%" y2="0%">
              <stop offset="0%" style="stop-color:#ff8a00; stop-opacity:1" />
              <stop offset="100%" style="stop-color:#f6ff00; stop-opacity:1" />
            </linearGradient>
          </defs>
          <circle cx="12" cy="12" r="10" fill="url(#grad2)"/>
          <circle cx="12" cy="10" r="3" fill="#fff"/>
          <path d="M12 13c-4 0-6 2-6 2v2h12v-2s-2-2-6-2z" fill="#fff"/>
        </svg>
        <span>Usuario 2</span>
      </button>
      <button (click)="autoFillUser('user3')">
        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24">
          <defs>
            <linearGradient id="grad3" x1="0%" y1="0%" x2="100%" y2="0%">
              <stop offset="0%" style="stop-color:#ff8a00; stop-opacity:1" />
              <stop offset="100%" style="stop-color:#f6ff00; stop-opacity:1" />
            </linearGradient>
          </defs>
          <circle cx="12" cy="12" r="10" fill="url(#grad3)"/>
          <circle cx="12" cy="10" r="3" fill="#fff"/>
          <path d="M12 13c-4 0-6 2-6 2v2h12v-2s-2-2-6-2z" fill="#fff"/>
        </svg>
        <span>Usuario 3</span>
      </button>
    </div>    
  </div>
</ion-content>
